<footer class="site-footer">
    <!-- SVG icons from https://iconmonstr.com -->

    <!-- Github icon -->
    <span class="my-span-icon">
        <a href="{{ site.github.owner_url }}" aria-label="{{ site.github.owner_name }}'s GitHub" title="{{ site.github.owner_name }}'s GitHub">
            <i class="fab fa-github-square fa-2x" style="color:rgb(98, 108, 112)"></i>
        </a>
    </span>

    <!-- Google scholar icon -->
    <span class="my-span-icon">
        <a href="{{ site.googlescholar.owner_url }}" aria-label="{{ site.googlescholar.owner_name }}'s Google scholar" title="{{ site.googlescholar.owner_name }}'s Google scholar">
            <i class="ai ai-google-scholar-square ai-2x" style="color:rgb(98, 108, 112)"/></i>
        </a>
    </span>

    <!-- Linkedin icon -->
    <span class="my-span-icon">
        <a href="{{ site.linkedin.owner_url }}" aria-label="{{ site.linkedin.owner_name }}'s Linkedin" title="{{ site.linkedin.owner_name }}'s Linkedin">
            <i class="fab fa-linkedin fa-2x" style="color:rgb(98, 108, 112)"></i>
        </a>
    </span>

    <!-- Contact icon -->
    <span class="my-span-icon">
        <a href="{{ site.contact.contact_url }}" aria-label="Contact" title="Contact {{ site.github.owner_name }}">
            <i class="fas fa-envelope-square fa-2x" style="color:rgb(98, 108, 112)"></i>
        </a>
    </span>

</footer>
