.flag {
  height: 1.1rem;
  top: 3px;
  object-position: 0 2px;
}


/*----------------------------
    Two column layout stuff
  ---------------------------*/

.logo {
  height: 5.0rem;
  object-position: right top;
}


/* Left Column */
article .begin-examples ~ ul{
    float: left;
    padding-top: 20px;
    // clear: both;
    width: 80%;
}

/* Right Column */
article .begin-examples ~ img,
article .begin-examples ~ p,
article .begin-examples ~ a {
    float: right;
    // clear: right;
    width: 20%;
}

/* Reset */
article .end-examples ~ p,
article .end-examples ~ a,
article .end-examples ~ img,
article .end-examples ~ ul {
    width: auto;
    height: none;
    float: none;
    clear: none;
    padding-top: none;
}

.end-examples {
    clear: both;
}
